@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97.2549%;
    --foreground: 240 3.3333% 11.7647%;
    --card: 0 0% 100%;
    --card-foreground: 240 3.3333% 11.7647%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 3.3333% 11.7647%;
    --primary: 187.4739 173.4032% 31.3580%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 94.1176%;
    --secondary-foreground: 0 0% 29.0196%;
    --muted: 0 0% 94.1176%;
    --muted-foreground: 240 2.2222% 44.1176%;
    --accent: 203.9916 96.5418% 93.6698%;
    --accent-foreground: 196.6949 85.4389% 14.5510%;
    --destructive: 358.7594 101.8439% 69.8357%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 87.8431%;
    --input: 0 0% 100%;
    --ring: 187.4739 173.4032% 31.3580%;
    --chart-1: 187.4739 173.4032% 31.3580%;
    --chart-2: 164.7862 160.6702% 31.9404%;
    --chart-3: 46.8179 100.7390% 59.5298%;
    --chart-4: 358.7594 101.8439% 69.8357%;
    --chart-5: 270.7222 110.5994% 75.2991%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 0 0% 29.0196%;
    --sidebar-primary: 187.4739 173.4032% 31.3580%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 186.1272 175.0225% 34.5777%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 87.8431%;
    --sidebar-ring: 187.4739 173.4032% 31.3580%;
    --font-sans: Outfit, sans-serif;
    --font-serif: Roboto, sans-serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.625rem;
    --shadow-2xs: 0 0 25px 5px hsl(0 0% 0% / 0.01);
    --shadow-xs: 0 0 25px 5px hsl(0 0% 0% / 0.01);
    --shadow-sm: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 1px 2px 4px hsl(0 0% 0% / 0.01);
    --shadow: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 1px 2px 4px hsl(0 0% 0% / 0.01);
    --shadow-md: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 2px 4px 4px hsl(0 0% 0% / 0.01);
    --shadow-lg: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 4px 6px 4px hsl(0 0% 0% / 0.01);
    --shadow-xl: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 8px 10px 4px hsl(0 0% 0% / 0.01);
    --shadow-2xl: 0 0 25px 5px hsl(0 0% 0% / 0.03);
    --tracking-normal: normal;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 7.0588%;
    --foreground: 0 0% 87.8431%;
    --card: 0 0% 11.7647%;
    --card-foreground: 0 0% 87.8431%;
    --popover: 0 0% 11.7647%;
    --popover-foreground: 0 0% 87.8431%;
    --primary: 189.9661 161.8632% 27.5935%;
    --primary-foreground: 183.1588 99.9180% 96.2486%;
    --secondary: 0 0% 16.4706%;
    --secondary-foreground: 0 0% 80%;
    --muted: 0 0% 16.4706%;
    --muted-foreground: 0 0% 62.7451%;
    --accent: 196.6949 85.4389% 14.5510%;
    --accent-foreground: 186.1272 175.0225% 34.5777%;
    --destructive: 358.7594 101.8439% 69.8357%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 11.7647%;
    --ring: 189.9661 161.8632% 27.5935%;
    --chart-1: 189.9661 161.8632% 27.5935%;
    --chart-2: 164.7862 160.6702% 31.9404%;
    --chart-3: 46.6817 159.6637% 38.5235%;
    --chart-4: 358.7594 101.8439% 69.8357%;
    --chart-5: 256.1554 109.0025% 76.8871%;
    --sidebar: 0 0% 11.7647%;
    --sidebar-foreground: 0 0% 80%;
    --sidebar-primary: 189.9661 161.8632% 27.5935%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 187.4739 173.4032% 31.3580%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 189.9661 161.8632% 27.5935%;
    --font-sans: Outfit, sans-serif;
    --font-serif: Roboto, sans-serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.625rem;
    --shadow-2xs: 0 0 25px 5px hsl(0 0% 0% / 0.01);
    --shadow-xs: 0 0 25px 5px hsl(0 0% 0% / 0.01);
    --shadow-sm: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 1px 2px 4px hsl(0 0% 0% / 0.01);
    --shadow: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 1px 2px 4px hsl(0 0% 0% / 0.01);
    --shadow-md: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 2px 4px 4px hsl(0 0% 0% / 0.01);
    --shadow-lg: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 4px 6px 4px hsl(0 0% 0% / 0.01);
    --shadow-xl: 0 0 25px 5px hsl(0 0% 0% / 0.01), 0 8px 10px 4px hsl(0 0% 0% / 0.01);
    --shadow-2xl: 0 0 25px 5px hsl(0 0% 0% / 0.03);
  }
}

/* Hide scrollbar but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge legacy */
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

.supports-scrollbars:where([data-scrollbars="none"]) {
  scrollbar-width: none;
}

.supports-scrollbars:where([data-scrollbars="none"])::-webkit-scrollbar {
  display: none;
}

@supports (scrollbar-width: none) {
  /* Firefox */
  .scrollbar-hide {
    scrollbar-width: none;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded cursor-pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}
